<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    {{ $style := resources.Get "styles/style.sass" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <title>{{.Site.Title}} {{ if .Page.Title }} - {{ .Page.Title }}{{ end }}</title>
  </head>
  <body>
    <div class="container">
      <header class="blog-header">
        <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        <p>{{ .Site.Params.Subtitle }} </p>
      </header>

    <nav>
      <ul class="sitemap">
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">/{{ .Name }}</a></li>
      {{ end }}
      </ul>
    </nav>

    {{ block "main" . }}
    {{ end }}

    </div>
  </body>
</html>
